.container {
    margin: 20px
}

select {
    padding: 8px;
    margin: 5px;
    min-width: 150px;

}

#stateSelect {
    display: block;
    color: black;
}

#citySelect {
    display: block;
    color: black;
}
