/* General styling for the entire page */
body {
  font-family: Helvetica, sans-serif, cursive;
  margin: 20px;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(62, 183, 63);
  color: #333;
  line-height: 1.6;
}

/* Headings */
h1 {
  color: rgb(245, 225, 174);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

h1 > img {
  width: 25px;
}

h2,
h3 {
  color: #555;
  margin-bottom: 15px;
}

/* Form container */
form {
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.app,
.random-bug-section,
.about-section {
  margin-bottom: 35px;
}

.random-bug-section,
.about-section {
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  display: none;
}

.about-section {
  margin-top: 35px;
}

/* Form labels */
label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  color: #444;
  font-size: 1rem;
}

/* Input fields and button styling */
input[type="text"],
input[type="date"],
select,
#calculate-button,
#next-button {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%; /* Adjust width to fit the form */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

#calculate-button,
#next-button {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  line-height: inherit;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
#calculate-button:focus #next-button:focus {
  border-color: #4caf50;
  outline: none;
}

#calculate-button > img {
  width: 20pt;
}
#next-button > img {
  width: 20pt;
}

#emergence-date,
#pests-present {
  display: block;
  height: auto;
}

.results {
  justify-content: space-between;
}

/* Form row styling */
.form-row {
  display: flex;
}
.crop-info {
  display: block;
}

.title-text {
  width: 500px;
}

.carrot {
  width: 50px;
}

.ant {
  float: right;
  width: 75px;
  justify-content: right;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.hidden {
  display: none;
}

.hidden-label {
  display: none;
}
